body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
      "header header"
      "nav main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
  }
  
  header {
    grid-area: header;
    border: 2px solid red;
    background: red;
    color: white;
    font-size: 30px;
  }
  
  main {
    grid-area: main;
    border: 2px solid red;
  }
  
  nav {
    grid-area: nav;
    border: 2px solid red;
  }

  .card {
    text-align: left;
    border: grey solid 1px;
    padding: 1rem;
    width: stretch;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #424242
  }

  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }